#box1, #box2{
    margin: 100px auto;
    width: 100%;
    max-width: 360px;
    min-height: 150px;
    background-color: tomato;
    color: white;
}

#city-box, #city-box2{
    padding: 10px 15px;
}
