*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-color: rgb(242, 240, 251);
}

/* Brand Styles */
header i.fas, header i.fa, header i.far, header i.fal{
    color: white;
}

#brandDiv{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    color: white;
}

#brandDiv button{
    display: inline-block;
    padding: 3px 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#brandDiv button i.fas{
    font-size: 1.2rem;
}
#brandDiv div{
    font-weight: bold;
    font-size: 1.3rem;
}
#brandDiv span{
    color: orange;
}

/* Menu Styles */
#menuAside{
    padding: 5px 7px;
    display: none;
}
#menuAside ul{
    background-color: #ffffffb1;
    padding: 5px 7px;
}
#menuAside ul li{
    list-style-type: none;
}
#menuAside a{
   text-decoration: none;
   color: #3a0036;
   display: block;
   padding: 5px;
}

/* Mobile Responsive Design */
@media screen and (min-width: 767px) {
    #brandDiv button{
        display: none;
    }

    #menuAside{
        display: block;
    }

    header section{
        display: flex;
        justify-content: space-between;
        max-width: 1100px;
        margin: auto;
        align-items: center;
    }
    #menuAside a{
        color: white;
        padding: 5px 10px;
    }
    #menuAside ul li{
        display: inline-block;
    }
    #menuAside ul{
        background-color: transparent;
    }

    #menuAside ul li:last-child{
        background-color: #ffffff65;
        color: #3a0036;
        border-radius: 5px;
        margin-left: 15px;
    }
}


/* Banner Styles */
#banner{
    /* min-height: 80vh; */
    display: flex;
    max-width: 1100px;
    margin: auto;
    align-items: center;
}

#banner aside{
    width: 50%;
}

#banner aside:last-child h1{
    font-size: 4rem;
    font-weight: bold;
    color: white;
    line-height: 3.5rem;
    margin-bottom: 20px;
}

#banner aside:last-child p{
    color: rgba(255, 255, 255, 0.626);
    margin-bottom: 30px;
    max-width: 400px;
}

#banner aside:last-child button{
    padding: 8px 20px;
    font-weight: 500;
    color: white;
    border-radius: 7px;
}

#banner aside:last-child button:first-child{
    background-color: green;
    margin-right: 10px;
    border: none;
}
#banner aside:last-child button:last-child{
    border: 1px solid white;
    background-color: transparent;
}

#lady_img{
    max-height: 450px;
}

/* Media Query */
@media screen and (max-width:767px) {
    #banner{
        flex-direction: column-reverse;
        margin-top: 30px;
        /* align-items: center; */
    }
    #banner aside{
        width: 90%;
        text-align: center;
    }
    #banner aside:last-child p{
        margin:5px auto 30px;
    }
    #banner aside:last-child h1{
        font-size: 3rem;
    }
}